artifacts
build
dist
node_modules
.DS_Store

*.md
!README.md
!CONTRIBUTING.md
!CHANGELOG.md
!.github/PULL_REQUEST_TEMPLATE.md
!resources/logo.png
!resources/logo.ico

target/
gen/
src-tauri/target/
src-tauri/gen/

.vscode/settings.json
